/** {
  outline: 1px solid red !important;
}*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: black;
  background-color: #ffe6c7;
}

form {
  display: inline-block;
}

.centered {
  text-align: center;
}

#pizzaSize {
  font-weight: 800;
}

.randomPizzaContainer {
  float: left;
  display: flex;
  width: 33.33%;
}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}

#randomPizzas {
  text-transform: capitalize;
}

.nav-link {
  border: 1px solid #ac0000;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  color: #ac0000;
}

.nav-link:hover {
  background: #ac0000;
  color: #ffe6c7;
}

.mover {
  position: fixed;
  width: 100px;
  height: 98px;
  z-index: -1;
  opacity: 0.3;
  background: url('../images/pizza-bg.png');
  transform: translateZ(0);
}

#menu { 
  max-width: 434px;
  margin: 0 auto;
}